body{
    background-color: rgb(19, 29, 105);
}

.navbar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(19, 29, 105);
}


#nav{
    list-style-type: none;
    color:white;
    padding:2%;
    text-align: center;
    text-decoration: none;
}

#nav:hover{
    color:red;
}