body{
    background-color: rgb(36, 84, 243);
    overflow:visible;
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top:0px;
    width: 100%;
    background-color:rgb(36, 84, 243);
}

#nav{
    list-style-type: none;
    color:white;
    padding:2%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

#nav:hover{
    color:red;
}

footer{
    position: fixed;
    top: 80%;
}

.news-section {
    display: block;
    position: relative;
    width: 90%;
    margin-left:5%
}
.news-item {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 15px;
}

.page_title{
    color:white;
    text-align: center;
}