*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    background-color: #333;
    padding: 0px;  
}

 
.ft-main {
    max-width: 1200px;  
    margin: 0 auto;  
}

.ft-main ul {
    list-style-type: none;
}

@media only screen and (max-width: 620px) {
    .menu, .main, .right {
      width: 100%;
    }
  }

body{
    font-family: sans-serif;
    color: black;
    background: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    height: 500px;
    width: 700; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 126, 213);
    box-sizing: 0 20px 25px 25px rgba(0, 17, 53, 0.61);
}

.container .days{
    display: flex;
    flex-wrap: wrap;
}

.container .day{
    font-size: 85%;
}

.container p{
    display: inline;
    margin-left: 65px;
}

.container p span{
    margin: 20px;
    font-size: 14px;
}
.container .day,
.container .number,
.container .number-pre
{
    height: 45px;
    width: 45px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: default;
}

.container .number-pre{
    color: rgba(rgb(79, 92, 102), green, blue, alpha)
}

.container .date{
    width: 380px;
    padding: 25px;
}

.container .number.active{
    background: rgb(rgb(70, 67, 227), green, blue);
    border: 2px solid rgba(rgb(79, 92, 102), green, blue, alpha);
}

.container .number:hover,
.container .number-pre:hover {
    background-color: rgba(174, 193, 100, 0.911);
}

.container h3{
    font-size: 25px;
    font-weight: 700;
    margin: 0 15px 30px;
    display: inline;
}