#Calendar_title{
    color:pink;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 1242px;
    height: 750px;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5%;
  }

  #Lectures_title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.firstDiv{
    background-color: #CEDBEA;
    padding: 5px;
    height: 600px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid black;
    display: inline-block;

}

.firstDiv > h1 {
    text-align: center;
}

.firstDiv > p {
    text-align: center;
}

.secondDiv{
    background-color: #CEDBEA;
    padding: 5px;
    height: 600px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid black;
    display: inline-block;

}

.secondDiv > h1 {
    text-align: center;
}

.secondDiv > p {
    text-align: center;
}

.thirdDiv{
    background-color: #CEDBEA;
    padding: 5px;
    height: 600px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid black;
    display: inline-block;

}

.thirdDiv > h1 {
    text-align: center;
}

.thirdDiv > p {
    text-align: center;
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top:0px;
    width: 100%;
    background-color:rgb(67, 67, 67);
    z-index:100;
}

#nav{
    list-style-type: none;
    color:white;
    padding:2%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

#nav:hover{
    color:rgb(46, 160, 209);
    text-decoration: underline;
}