body {
    padding:10px;
    padding-bottom:60px;
}

footer{
    display:flex;
    position: sticky;
    list-style-type: none;
    background-color: rgb(67, 67, 67);
    width: 100%;
    margin:0;
    float:left;
    justify-content: center;
}

#foot-title{
    text-align: center;
    font-size: 20px;
    color:white;
    margin:15px;
}


#foot-cont{
    display: block;
    color: white;
    text-decoration: none;
    padding:0%;
}

#foot-cont-a{
    color: rgb(146, 208, 252);
    text-decoration: underline;
}